.index-list-item{padding:20px 20px 0 20px;background-color:#f7f7f7;cursor:pointer}
.index-list-item:last-child .index-list-ctx{border-bottom:0;border-bottom:none}
.index-list-item .index-list-ctx{padding-bottom:20px;border-bottom:1px solid #f0f0f0}