@charset "UTF-8";
@font-face{font-family:NotoSansHans;src:url(../iconfont/NotoSansHans-Medium.eot);src:url(../iconfont/NotoSansHans-Medium.eot) format("embedded-opentype"),url(../iconfont/NotoSansHans-Medium.woff) format("woff"),url(../iconfont/NotoSansHans-Medium.ttf) format("truetype")}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;outline:0}
blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,html,img,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}
body,button,input,select,textarea{font-size:14px;line-height:1.6;font-family:Microsoft Yahei,tahoma,Helvetica,arial,sans-serif;color:#181C28}
ol,ul{list-style:none}
a{text-decoration:none;cursor:pointer}
img{border:0}
table{border-collapse:collapse;border-spacing:0}
b{font-weight:400}
em{font-style:normal}
pre{white-space:normal;word-break:break-all}
#jiaxin-mcs-fixed-btn:hover div{width:35px}
[class*=" icon-"],[class^=icon-]{font-family:iconfont!important;font-size:16px;font-style:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
input::-webkit-input-placeholder{color:#D0D2D8!important}
input:-moz-placeholder{color:#D0D2D8!important}
input::-moz-placeholder{color:#D0D2D8!important}
input:-ms-input-placeholder{color:#D0D2D8!important}
input.placeholder{color:#D0D2D8!important}
.clear{clear:both}
.clearfix{zoom:1}
.clearfix:after{display:table;content:"";visibility:hidden;clear:both}
.no-border{border:none!important;border:0}
.main-red{color:#F30A37!important}
.main-green{color:#1CAB22!important}
.main-blue{color:#2497FC!important}
.con-bg{background-color:#f7f7f7}
::-webkit-scrollbar{width:10px;height:10px}
::-webkit-scrollbar-thumb{background:#c1c1c1;-webkit-border-radius:10px;border-radius:10px}
::-webkit-scrollbar-track{background-color:#f1f1f1}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#ccc;font-weight:300}
input:-moz-placeholder,textarea:-moz-placeholder{color:#ccc;font-weight:300}
input::-moz-placeholder,textarea::-moz-placeholder{color:#ccc;font-weight:300}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{color:#ccc;font-weight:300}
input.placeholder,textarea.placeholder{color:#ccc;font-weight:300}
.fixed{position:fixed!important}
.opacity{opacity:.5;filter:alpha(opacity=50)}
.underline{display:inline-block;line-height:1.2;border-bottom:1px dotted}
.ellipsis{white-space:nowrap;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis}
.pointer{cursor:pointer}
strong{font-weight:600}
body{background-color:#F2F2F2}
.footer{position:fixed;width:100%;bottom:0;left:0;background:#fff;-webkit-box-shadow:0 0 12px 0 rgba(221,224,223,.35);-moz-box-shadow:0 0 12px 0 rgba(221,224,223,.35);box-shadow:0 0 12px 0 rgba(221,224,223,.35)}
.footer ul{display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-moz-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;heigth:.98rem;background-color:#FFF;padding:.15rem .5rem}
.footer ul li{text-align:center}
.footer ul li img{width:.4rem;height:.4rem;display:block;-webkit-background-size:contain;-moz-background-size:contain;-o-background-size:contain;background-size:contain;margin:.1rem auto}


#loading3 {
    position: fixed;
    width: 50px;
    height: 50px;
    left: 50%;
    top: 50%;
    margin-left: -25px;

}
.demo3 {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background: #68b2ce;
    position: absolute;
    animation: demo3 linear 0.8s infinite;
    -webkit-animation: demo3 linear 0.8s infinite;
}
.demo3:nth-child(1){
    left: 24px;
    top: 2px;
    animation-delay:0s;
}
.demo3:nth-child(2){
    left: 40px;
    top: 8px;
    animation-delay:0.1s;
}
.demo3:nth-child(3){
    left: 47px;
    top: 24px;
    animation-delay:0.1s;
}
.demo3:nth-child(4){
    left: 40px;
    top: 40px;
    animation-delay:0.2s;
}
.demo3:nth-child(5){
    left: 24px;
    top: 47px;
    animation-delay:0.4s;
}
.demo3:nth-child(6){
    left: 8px;
    top: 40px;
    animation-delay:0.5s;
}
.demo3:nth-child(7){
    left: 2px;
    top: 24px;
    animation-delay:0.6s;
}
.demo3:nth-child(8){
    left: 8px;
    top: 8px;
    animation-delay:0.7s;
}

@keyframes demo3
{
    0%,40%,100% {transform: scale(1);}
    20% {transform: scale(3);}
}
@-webkit-keyframes demo3
{
    0%,40%,100% {transform: scale(1);}
    20% {transform: scale(3);}
}
