body{background-color:#EEE;padding-bottom:1.2rem}
.swiper-head{background-color:#FFF}
.swiper-container{width:100%;background-color:#FFF;margin:0 auto.16rem auto}
.swiper-container .swiper-slide{text-align:center;padding:.2rem 0}
.swiper-container .slide-on{background-color:#FF7500;color:#FFF}
.swiper-container .swiper-button-prev{background-image:url(../../images/swiper/left@3x.png);height:.26rem;width:.14rem;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;margin-top:-.13rem}
.swiper-container .swiper-button-next{background-image:url(../../images/swiper/right@3x.png);height:.26rem;width:.14rem;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;margin-top:-.13rem}
.room-info{padding:.32rem;background-color:#FFF;margin-bottom:.16rem}
.room-info .li-name{font-size:.32rem;color:#333;margin-bottom:.2rem}
.room-info .li-squace{font-size:.28rem;color:#333}
.room-info .li-type{font-size:.28rem;color:#333}
.room-detail{background-color:#FFF;padding:.32rem}
.room-detail .room-area-name{text-align:center}
.room-detail img{display:block;width:100%}
.time-nav{background-color:#FFF;padding:.35rem .32rem;height: 11rem;}
.time-nav>.no-data {text-align: center;padding-top:1rem;}
.time-nav>li p{margin-bottom:.27rem;}
.time-nav>li ul li{height:1.08rem;background:#f8f8f8;color:#333;font-size:.28rem;line-height:1.08rem;padding:0 .28rem;margin-bottom:.16rem;display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-moz-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-webkit-justify-content:space-between;-moz-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}
.time-nav>li ul li .state{color:#FF7500}
.time-nav>li ul .booked .state{color:#999999}
.time-nav>li ul li .select-time{display:inline-block;width:.36rem;height:.36rem;background-image:url(../../images/room/select@3x.png);-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}
.time-nav>li ul li .time{margin-right:2.5rem}
.time-nav>li ul .selected .select-time{background-image:url(../../images/room/selected@3x.png)!important}
.footer{position:fixed;width:100%;height:1rem;line-height:1rem;background:#ff7500;-webkit-box-shadow:0 0 12px 0 rgba(221,224,223,.35);-moz-box-shadow:0 0 12px 0 rgba(221,224,223,.35);box-shadow:0 0 12px 0 rgba(221,224,223,.35);text-align:center;font-size:.32rem;color:#fff}
.swiper-box {background-color: #FFFFFF}