body{background-color:#FFF;padding-top:1rem}
p{text-align:center}
.btn-co{width:6.86rem;height:.98rem;background:#ff7500;-webkit-border-radius:.1rem;-moz-border-radius:.1rem;border-radius:.1rem;margin:3rem auto;color:#FFF;font-size:.32rem;text-align:center;line-height:.98rem}